.imagenes-fondo {
  background-image: url("../images/fondo-pag.png");
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include flexbox (column, center, center);

  h1 {
    @include titulos (#eeee, 4rem, center, uppercase, 0.5rem);
    padding-top: 5rem;
  }
}

.formulario {
  background-image: url("../images/fondo-contacto.gif");
  background-position-y: bottom;
  background-position-x: center;
  width: 100%;
  height: 65rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include flexbox (row, center, center);

  form {

      .casilleros__arriba {
          background-color: #138a3d00;
          font-size: 2.5rem;
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-weight: 400;
          line-height: 1.5;
          color: #eeee;
          background-clip: padding-box;
          border: var(--bs-border-width) solid var(--bs-border-color);
          border-radius: var(--bs-border-radius);
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      .casillero__abajo {
          background-color: #138a3d00;
          font-size: 2rem;
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-weight: 400;
          line-height: 1.5;
          color: #eeee;
          background-clip: padding-box;
          border: var(--bs-border-width) solid var(--bs-border-color);
          border-radius: var(--bs-border-radius);
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      .formulario--flex {
          @include flexbox (row, space-between, center);
      }
  }

  label {
      font-size: 2.5rem;
      color: #eeee;
      text-transform: uppercase;
  }

  button {
      font-size: 3rem;
      background-color: #afafafee;
  }

  .form--input input::placeholder {
      color: $main-color;
  }

  input:-webkit-autofill {
      -webkit-text-fill-color: #eeee;
      -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
      transition: background-color 5000s ease-in-out 0s;
  }
}

.contact-me__info {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

  .contact-me-redes {
    display: flex;
    justify-content: left;

    div p {
      font-size: 2.5rem;
      color: $secundary-color;
    }
  }

  .contacto__redes {
    list-style: none;
    margin-left: -3.5rem;

    li {
      display: inline-block;
      padding: 0 2rem;

      a {
        color: #eeee;
        font-size: 3rem;
        transition: .3s;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

.info {
  @include flexbox (row, right, flex-start);

  text-align: right;
  margin-bottom: 5rem;

  .contact-me-texto p,
  .email {
    font-size: 2.5rem;
    color: $secundary-color;
  }
}
