/** SECCION 1 PORTADA **/
.portada {
    background: linear-gradient(to top, #000000be, #00000000), url("../images/portada-bruno.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: cover;

    h1 {
        height: 100vh;

        @include flexbox (column, end, center);
        font-weight: bolder;

        @include titulos (transparent, 11rem, center, uppercase, 0);
        background: linear-gradient(to left, #7920ff, #ff33cc);
        background-clip: text;
        -webkit-background-clip: text;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 20rem;

        animation-name: titulo-animado;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        transform: translateY(0);
    }
}


/** SECCION 2 SOBRE MI **/
.about-me {
    background-image: url("../images/guitarra.png");
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15rem;

    h2 {
        @include titulos (transparent, 4rem, center, uppercase, 0.5rem);
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $gradiente;
        padding-bottom: 3rem;
    }

    p {
        font-size: 3rem;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
        font-weight: bold;
        color: #eeee;
    }
}


/** SECCION 3 MUSICA **/
.my-music {
    @include titulos (transparent, 4rem, center, uppercase, 0.5rem);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $gradiente;
    padding: 5rem 0;
}

.spotify-list {
    @include flexbox (column, center, center);

    iframe {
        padding-bottom: 5rem;
        width: 30%;
        height: 65.5rem;
    }
}


/** SECCION 4 PROYECTOS **/
.fondo-proyectos {
    background-color: #131313;
    text-align: center;
    padding-bottom: 12rem;

    .proyects {
        @include titulos (transparent, 4rem, center, uppercase, 0.5rem);
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $gradiente;
        padding: 5rem 0;
    }
}


.carousel {
    iframe {
        height: 70vh;
        border-radius: 4%;
        border: #eeee solid 2px;
    }

    .carousel-control-prev {
        margin: 100px 0;
    }

    .carousel-control-next {
        margin: 100px 0;
    }
}


/** SECCION 5 GALERIA **/
.gallery {
    @include titulos (transparent, 4rem, center, uppercase, 0.5rem);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $gradiente;
    padding: 5rem 0;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'area1 area1 area1 area2 area2 area2'
        'area1 area1 area1 area2 area2 area2'
        'area3 area3 area4 area4 area5 area5'
        'area3 area3 area4 area4 area5 area5'
    ;
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
    place-items: center;
    padding: 1.5rem 5% 5rem 5%;

    .foto1 {
        grid-area: area1;
    }

    .foto2 {
        grid-area: area2;
    }

    .foto3 {
        grid-area: area3;
    }

    .foto4 {
        grid-area: area4;
    }

    .foto5 {
        grid-area: area5;
    }

    .galeria__foto {
        @include flexbox (row, center, center);

        width: 100%;
        height: 43rem;
        cursor: pointer;
        transition: 0.7s;

        &:active {
            width: 80%;
            position: absolute;
        }

        img {
            @include imagenes (100%, 43rem, cover);
            border-radius: 3%;
            border: #eeee solid 0.5rem;

            &:hover {
                width: 99%;
                height: 42.5gitrem;
            }

            &:active {
                width: 90%;
                height: 85vh;
                border-radius: 3%;
                border: $main-color solid 1rem;
            }
        }
    }
}


/** SECCION 6 CONTACTO **/

.formulario2 {
    margin-top: 3rem;
    background-color: #131313;

    h6 {
        @include titulos (transparent, 4rem, center, uppercase, 0rem);
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $gradiente;
        padding: 5rem 0;
    }

    .form--input2 input::placeholder {
        color: #eeee;
    }

    .formulario--darktext input:-webkit-autofill {
        -webkit-text-fill-color: #eeee;
        -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    label {
        font-size: 2.5rem;
        color: #eeee;
        text-transform: uppercase;
    }

    .casilleros__arriba2 {
        background-color: #682368;
        font-size: 2.5rem;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #eeee;
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .casillero__abajo2 {
        background-color: #682368;
        font-size: 2rem;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #eeee;
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .formulario--flex {
        display: flex;
        justify-content: space-between;
    }

    button {
        font-size: 3rem;
        background-color: #afafafee;
        margin-bottom: 5rem;
    }
}