.imagenes-fondo {
    background-image: url("../images/fondo-pag.png");
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @include flexbox (column, center, center);

    h1 {
        @include titulos (#eeee, 4rem, center, uppercase, 0.5rem);
        padding-top: 5rem;
    }
}

.spotify-list {
    animation-name: iframe-animado;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    transform: translateX(0);
}