
.spotify-list {
    padding-top: 5rem;
    animation-name: iframe-animado;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    transform: translateX(0);

    iframe{
        width: 100rem;
        height: 50rem;
    }
}