.imagenes-fondo {
    background-image: url("../images/fondo pag.jpg");
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @include flexbox (column, center, center);

    h1 {
        @include titulos (#eeee, 4rem, center, uppercase, 0.5rem);
        padding-top: 5rem;
    }
}

.forza {
    iframe {
        height: 70vh;
        border-radius: 4%;
        border: #eeee solid 2px;
    }
}