footer {
    margin-top: auto;
    padding: 5rem;
    background-color: black;

    .footer {

        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;


        p {
            color: #eeee;
            font-size: 1.5rem;
        }

        .footer__name {
            float: none;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
        }
    }

    .copy {
        text-align: center;
        color: #eeee;
        font-size: 1.5rem;
    }
}