.navbar {
    background: $gradiente;
    height: 5.3rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 1px 3px 30px #19191985;

    ul {
        list-style-type: none;
        display: flex;

        .fa-brands {
            font-size: 3.3rem;
            margin-top: 1rem;
            transition: .5s;
            color: #191919;
        }

        li {
            .fa-instagram:hover {
                color: #e4405f;
                transform: translateY(3px) scale(1.3);
            }

            .fa-spotify:hover {
                color: #51A67B;
                transform: translateY(3px) scale(1.3);
            }

            .fa-youtube:hover {
                color: #e03731;
                transform: translateY(3px) scale(1.3);
            }

            .fa-tiktok:hover {
                color: black;
                transform: translateY(3px) scale(1.3);
            }

            a {
                color: #191919;
                font-size: 1.5rem;
                padding: 1rem;
            }
        }
    }


    .bruno {
        font-weight: bold;
        float: none;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        font-size: 4rem;
        color: #FFDF21;
        letter-spacing: 0.5rem;
        transition: .5s;

        &:hover {
            color: #191919;
            font-size: 4.5rem;
        }

        &:active {
            color: $secundary-color;
        }
    }

    .navbar-toggler {
        color: #191919;
        border-color: #19191994;
        border-width: .2rem;
    }



    .offcanvas {
        background-color: #191919;
        border: 0;

        .offcanvas-title {
            color: $main-color;
            font-size: 3rem;
        }

        .nav__text {
            color: #eeee;
            transition: .3s;
        }

        .navbar__redes__off {
            display: none;
            visibility: hidden;


            ul {

                .fa-brands {
                    font-size: 3.3rem;
                    margin-top: 1rem;
                    transition: .5s;
                }


                .fa-instagram {
                    color: #e4405f;
                }

                .fa-spotify {
                    color: #51A67B;
                }

                .fa-youtube {
                    color: #861f1c;
                }

                .fa-tiktok {
                    color: #eeee;
                }


                .fa-instagram:hover {
                    transform: translateY(3px) scale(1.3);
                }

                .fa-spotify:hover {
                    transform: translateY(3px) scale(1.3);
                }

                .fa-youtube:hover {
                    transform: translateY(3px) scale(1.3);
                }

                .fa-tiktok:hover {
                    transform: translateY(3px) scale(1.3);
                }
            }

        }

        .nav__text:hover {
            color: $secundary-color;
        }

        .nav__text:active {
            color: #682368;
        }
    }
}